@page "/C_Ventas"
@inject IToastService toast

<EditForm Model="Ventas" OnValidSubmit="Buscar">
    <DataAnnotationsValidator />
    <div class="container-fluid">
        <div class="card shadow-lg">
            <div class="card-header">
                <h3>Consulta de Ventas</h3>
            </div>
            <div class="card-body">
                <table class="table table-striped">
                    <thead class="">
                        <tr>
                            <th>Id:</th>
                            <th>Cliente:</th>
                            <th>Fecha:</th>
                            <th>Monto:</th>
                            <th>Balance:</th>
                        </tr>
                    </thead>
                    <tbody class="bg-transparent">
                        @foreach (var item in Ventas)
                        {
                            <tr>
                                <td>@item.VentaId</td>
                                <td>@item.Cliente.Nombres</td>
                                <td>@item.Fecha</td>
                                <td>@item.Monto</td>
                                <td>@item.Balance</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div class="card-footer">
            </div>

        </div>
    </div>
</EditForm>

@code {
    private List<Ventas> Ventas = new List<Ventas>() { };

    protected override void OnInitialized()
    {
        Buscar();
    }

    private void Buscar()
    {
        var encontrado = VentasBLL.GetList();
        if (encontrado != null)
            this.Ventas = encontrado;
    }

}